refereemanager/src/main/jaxb/refereemanager.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
XSD-Schema for refereemanager.

## Legal stuff

Copyright 2016-2017 Ekkart Kleinod <ekleinod@edgesoft.de>

This file is part of refereemanager.

refereemanager is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

refereemanager is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with refereemanager.  If not, see <http://www.gnu.org/licenses/>.

@author Ekkart Kleinod
@version 0.14.0
@since 0.4.0
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
	jxb:version="2.1">

	<!-- allow xml:base attribute in order to avoid include errors -->
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2005/08/xml.xsd" />

	<xsd:include schemaLocation="../../../../submodules/edgeutils/jaxb/commons.xsd" />

	<xsd:element name="refereemanager" type="RefereeManager" />

	<xsd:complexType name="RefereeManager">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="info" type="Info" minOccurs="1" maxOccurs="1" />
					<xsd:element name="content" type="Content" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
				<xsd:attribute ref="xml:base" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Content">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="season" type="Season" minOccurs="1" maxOccurs="1" />
					<xsd:element name="exam" type="Exam" minOccurs="1" maxOccurs="1" />

					<xsd:element name="person" type="Person" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="referee" type="Referee" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="trainee" type="Trainee" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="league" type="League" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="club" type="Club" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="team" type="Team" minOccurs="0" maxOccurs="unbounded" />

					<xsd:element name="league_game" type="LeagueGame" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="tournament" type="Tournament" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="other_event" type="OtherEvent" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="venue" type="Venue" minOccurs="0" maxOccurs="unbounded" />

					<!-- types -->
					<xsd:element name="sex_type" type="SexType" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="contact_type" type="ContactType" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="status_type" type="StatusType" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="referee_assignment_type" type="RefereeAssignmentType" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="training_level_type" type="TrainingLevelType" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="role_type" type="RoleType" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="event_date_type" type="EventDateType" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Season">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="start_year" type="IntegerProperty" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Person">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="first_name" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="name" type="StringProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="birthday" type="LocalDateProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="day_of_death" type="LocalDateProperty" minOccurs="0" maxOccurs="1" />

					<!-- 1:n -->
					<xsd:element name="e_mail" type="EMail" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="address" type="Address" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="phone_number" type="PhoneNumber" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="u_r_l" type="URL" minOccurs="0" maxOccurs="unbounded" />

					<!-- references -->
					<xsd:element name="sex_type" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="SexType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="role" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="RoleType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Referee">
		<xsd:complexContent>
			<xsd:extension base="Person">
				<xsd:sequence>
					<xsd:element name="docs_by_letter" type="BooleanProperty" minOccurs="1" maxOccurs="1" />

					<!-- 1:n -->
					<xsd:element name="training_level" type="TrainingLevel" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="prefer" type="Wish" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="avoid" type="Wish" minOccurs="0" maxOccurs="unbounded" />

					<!-- references -->
					<xsd:element name="member" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Club" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="reffor" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Club" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="status" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="StatusType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Trainee">
		<xsd:complexContent>
			<xsd:extension base="Referee">
				<xsd:sequence>
					<xsd:element name="withdrawn" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="did_not_start" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="exam_date" type="LocalDateProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="points_written_a" type="IntegerProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="points_written_b" type="IntegerProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="points_practical" type="IntegerProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="points_oral" type="IntegerProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="passed" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EMail">
		<xsd:complexContent>
			<xsd:extension base="Contact">
				<xsd:sequence>
					<xsd:element name="e_mail" type="StringProperty" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Address">
		<xsd:complexContent>
			<xsd:extension base="Contact">
				<xsd:sequence>
					<xsd:element name="street" type="StringProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="number" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="zip_code" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="city" type="StringProperty" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PhoneNumber">
		<xsd:complexContent>
			<xsd:extension base="Contact">
				<xsd:sequence>
					<xsd:element name="country_code" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="area_code" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="number" type="StringProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="is_cell" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="URL">
		<xsd:complexContent>
			<xsd:extension base="Contact">
				<xsd:sequence>
					<xsd:element name="u_r_l" type="StringProperty" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Contact" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="is_primary" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="editor_only" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="contact_type" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="ContactType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="League">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="rank" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="national" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="results_u_r_l" type="StringProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="referee_report_u_r_l" type="StringProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="referee_quantity" type="RefereeQuantity" minOccurs="1" maxOccurs="unbounded" />

					<!-- references -->
					<xsd:element name="sex_type" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="SexType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="referee_report_recipient" type="PersonReference" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>See annotation on type PersonReference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Club">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="is_local" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="filename" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="homepage" type="StringProperty" minOccurs="0" maxOccurs="1" />

					<!-- references -->
					<xsd:element name="venue" type="VenueReference" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>See annotation on type VenueReference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contact_person" type="PersonReference" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>See annotation on type PersonReference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Team">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="number" type="IntegerProperty" minOccurs="0" maxOccurs="1" />

					<!-- references -->
					<xsd:element name="club" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Club" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="league" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="League" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="venue" type="VenueReference" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>See annotation on type VenueReference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="contact_person" type="PersonReference" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>See annotation on type PersonReference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefereeQuantity">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="quantity" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="referee_assigment_type" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="RefereeAssignmentType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefereeAssignment">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="modified" type="xsd:dateTime" minOccurs="1" maxOccurs="1" />
					<xsd:element name="active" type="BooleanProperty" minOccurs="1" maxOccurs="1" />

				<!-- references -->
					<xsd:element name="referee" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Referee" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="referee_assigment_type" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="RefereeAssignmentType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="TrainingLevel">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="since" type="LocalDateProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="update" type="Update" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>See annotation on type Update.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- references -->
					<xsd:element name="type" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="TrainingLevelType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Update">
		<xsd:annotation>
			<xsd:documentation>
				This type just stores a date.
				The date cannot be used directly, as this would break the inheritance needed for generation of input dialogs.
				This is only needed for lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="date" type="LocalDateProperty" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PersonReference">
		<xsd:annotation>
			<xsd:documentation>
				This type just stores a person.
				The person cannot be used directly, as this would break the inheritance needed for generation of input dialogs.
				This is only needed for lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="person" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Person" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="VenueReference">
		<xsd:annotation>
			<xsd:documentation>
				This type just stores a venue.
				The venue cannot be used directly, as this would break the inheritance needed for generation of input dialogs.
				This is only needed for lists.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="venue" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Venue" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Wish">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="saturday" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="sunday" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="tournament_only" type="BooleanProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="league_games_only" type="BooleanProperty" minOccurs="0" maxOccurs="1" />

					<!-- references -->
					<xsd:element name="club" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Club" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="league" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="League" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="sex_type" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="SexType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Exam">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="max_points_written_a" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="max_points_written_b" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="max_points_practical" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="max_points_oral" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="needed_points_written" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="needed_points_practical" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="needed_points_oral" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="needed_points" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Venue">
		<xsd:complexContent>
			<xsd:extension base="Address">
				<xsd:sequence>
					<xsd:element name="latitude" type="DoubleProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="longitude" type="DoubleProperty" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="LeagueGame">
		<xsd:complexContent>
			<xsd:extension base="RefereeEvent">
				<xsd:sequence>
					<xsd:element name="game_number" type="IntegerProperty" minOccurs="1" maxOccurs="1" />

					<!-- references -->
					<xsd:element name="league" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="League" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="home_team" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Team" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="off_team" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Team" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Tournament">
		<xsd:complexContent>
			<xsd:extension base="RefereeEvent">
				<xsd:sequence>
					<xsd:element name="announcement_u_r_l" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="information_u_r_l" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="result_u_r_l" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="referee_quantity" type="RefereeQuantity" minOccurs="0" maxOccurs="unbounded" />

					<!-- references -->
					<xsd:element name="organizing_club" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Club" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="organizer" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="Person" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="OtherEvent">
		<xsd:complexContent>
			<xsd:extension base="EventDate">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefereeEvent" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="EventDate">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EventDate" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="day" type="EventDay" minOccurs="1" maxOccurs="unbounded" />

					<!-- references -->
					<xsd:element name="venue" type="VenueReference" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>See annotation on type VenueReference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="type" type="xsd:IDREF" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:appinfo>
								<jxb:property>
									<jxb:baseType name="EventDateType" />
								</jxb:property>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="EventDay">
		<xsd:complexContent>
			<xsd:extension base="AbstractModelClass">
				<xsd:sequence>
					<xsd:element name="date" type="LocalDateProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="start_time" type="LocalTimeProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="end_time" type="LocalTimeProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="referee_assignment" type="RefereeAssignment" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>



	<!-- Types -->
	<xsd:complexType name="EventDateType">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SexType">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RoleType">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ContactType">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RefereeAssignmentType">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StatusType">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="active" type="BooleanProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="mmdmarkupstart" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="mmdmarkupend" type="StringProperty" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="TrainingLevelType">
		<xsd:complexContent>
			<xsd:extension base="TitledIDType">
				<xsd:sequence>
					<xsd:element name="rank" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
					<xsd:element name="update_interval" type="IntegerProperty" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Generic types -->
	<xsd:complexType name="TitledIDType" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="IDType">
				<xsd:sequence>
					<xsd:element name="title" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="shorttitle" type="StringProperty" minOccurs="0" maxOccurs="1" />
					<xsd:element name="remark" type="StringProperty" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

</xsd:schema>

<!-- EOF -->
